
.box_login{
	width: 450px;
	height:350px;
	left:50%;
	top:50%;
	margin-left:-225px;
	margin-top:-175px;
	position:absolute;
	border: 3px solid #F58618;
	border-radius:20px;
	
	padding: 20px 30px;
}

.box_image{
	margin:auto;
	margin-bottom:20px;
}



a{
	width:100%;
	text-align:center;
}